
.venv/
.env

__pycache__/
*.py[cod]
*.pyo
*.lock
*.json


.idea/
*.iml
.vscode/

backup/

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.TemporaryItems
.apdisk